In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("mydata.csv")

In [28]:
df.head()

,-1.637355626,-2.006211785,-1.862425973,-1.024705802,-0.522940889,-0.863171185,-1.042157289,-0.864466507,-0.4307829
0,-1.988980,-0.722009,-0.787896,-1.024706,-0.522941,-0.863171,-1.042157,-0.864467,-0.162519
1,-1.578819,-2.188784,1.361163,-1.024706,-0.522941,-0.863171,0.342627,-0.155348,-0.162519
2,-2.166917,-0.807994,-0.787896,-1.024706,-0.522941,-0.863171,-1.042157,-0.864467,-0.162519
3,-0.507874,-0.458834,-0.250631,-1.024706,-0.522941,-0.863171,-1.042157,-0.864467,0.371564
4,-2.036128,-0.933955,-1.862426,-1.024706,-0.522941,-0.863171,-1.042157,-0.864467,0.765468

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   -1.637355626  66 non-null     float64
 1   -2.006211785  66 non-null     float64
 2   -1.862425973  66 non-null     float64
 3   -1.024705802  66 non-null     float64
 4   -0.522940889  66 non-null     float64
 5   -0.863171185  66 non-null     float64
 6   -1.042157289  66 non-null     float64
 7   -0.864466507  66 non-null     float64
 8   -0.4307829    66 non-null     float64
dtypes: float64(9)
memory usage: 4.8 KB

In [30]:
df1 = pd.read_csv("Xsadasdda_train.csv")

C:\Users\Jahongir\AppData\Local\Temp\ipykernel_2864\342547747.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("Xsadasdda_train.csv")

In [31]:
df1.head()

,feature,chroma_cens,chroma_cens.1,chroma_cens.2,chroma_cens.3,chroma_cens.4,chroma_cens.5,chroma_cens.6,chroma_cens.7,chroma_cens.8,...,tonnetz.39,tonnetz.40,tonnetz.41,zcr,zcr.1,zcr.2,zcr.3,zcr.4,zcr.5,zcr.6
0,statistics,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,...,std,std,std,kurtosis,max,mean,median,min,skew,std
1,number,01,02,03,04,05,06,07,08,09,...,04,05,06,01,01,01,01,01,01,01
2,Id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,-0.26658499241,-0.9846675396,-0.72982311249,-0.8951222300499999,2.1386275291,0.93520867825,0.10408893973,-0.69865864515,-0.73640799522,...,0.065002925694,0.016521984711,0.015775661916,5.743597030599999,0.3076171875,0.051369916648,0.04248046875,0.00244140625,1.9769718647,0.034533150494
4,1,-0.18006065487999998,0.26088401675,-0.069372758269,0.20873427391,-0.078854501247,-0.5778183340999999,0.5837882757199999,0.14378075302,0.29155606031,...,0.087691873312,0.016355380416,0.016604734585,64.870986938,0.81298828125,0.08278355747499999,0.06982421875,0.00390625,7.3745031357,0.074869930744

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6003 entries, 0 to 6002
Columns: 519 entries, feature to zcr.6
dtypes: object(519)
memory usage: 23.8+ MB

In [33]:
df2 = pd.read_csv("SMLR_stock_data.csv")

In [34]:
df2.head()

   Unnamed: 0  open  high   low  close  adjclose  volume ticker
0  2014-02-21  6.00  7.00  6.00   6.99      6.99  461300   SMLR
1  2014-02-24  7.25  7.25  6.90   6.99      6.99  138900   SMLR
2  2014-02-25  7.00  7.15  6.83   6.99      6.99  148100   SMLR
3  2014-02-26  6.92  7.00  6.80   7.00      7.00   34900   SMLR
4  2014-02-27  7.00  7.00  6.80   6.99      6.99   16100   SMLR

In [45]:
def tozala():
        for col in df2.columns:
            if df2[col].isnull().any():
                if df2[col].dtype == 'object':
                    df2[col] = df2[col].fillna(df2[col].mode()[0])
                else:
                    df2[col] = df2[col].fillna(df2[col].mean())
        return

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   2528 non-null   datetime64[ns]
 1   open                   2528 non-null   float64
 2   high                   2528 non-null   float64
 3   low                    2528 non-null   float64
 4   close                  2528 non-null   float64
 5   adjclose               2528 non-null   float64
 6   volume                 2528 non-null   int64
 7   ticker                 2528 non-null   object
 8   year                   2528 non-null   int32
 9   month                  2528 non-null   int32
 10  day                    2528 non-null   int32
 11  day_of_week            2528 non-null   int32
 12  return_1d              2528 non-null   float64
 13  return_5d              2528 non-null   float64
 14  ma_5                   2528 non-null   float64
 15  ma_10                  2528 non-null   float64
 16  ma_20                  2528 non-null   float64
 17  volatility_5           2528 non-null   float64
 18  volatility_10          2528 non-null   float64
 19  price_range            2528 non-null   float64
 20  body                   2528 non-null   float64
 21  volume_change_1d       2528 non-null   float64
 22  volume_rolling_mean_5  2528 non-null   float64
 23  close_lag_1            2528 non-null   float64
 24  close_lag_3            2528 non-null   float64
 25  high_low_ratio         2528 non-null   float64
 26  close_open_ratio       2528 non-null   float64
dtypes: datetime64[ns](1), float64(20), int32(4), int64(1), object(1)
memory usage: 493.9+ KB

In [47]:
df2.columns.values[0] = "Date"

In [48]:
df2.rename(columns={"Uunnemed: 0" : "Date"}, inplace=True)

In [49]:
df2

,Date,open,high,low,close,adjclose,volume,ticker,year,month,...,volatility_5,volatility_10,price_range,body,volume_change_1d,volume_rolling_mean_5,close_lag_1,close_lag_3,high_low_ratio,close_open_ratio
0,2014-03-20,6.210000,6.490000,6.210000,6.470000,6.470000,4100,SMLR,2014,3,...,0.096333,0.129117,0.280000,0.260000,-0.108696,7680.0,6.380000,6.240000,1.045089,1.041868
1,2014-03-21,6.470000,6.470000,5.440000,5.650000,5.650000,26800,SMLR,2014,3,...,0.345731,0.258749,1.030000,-0.820000,5.536585,12780.0,6.470000,6.480000,1.189338,0.873261
2,2014-03-24,5.650000,5.730000,5.080000,5.510000,5.510000,10800,SMLR,2014,3,...,0.477043,0.362804,0.650000,-0.140000,-0.597015,11080.0,5.650000,6.380000,1.127953,0.975221
3,2014-03-25,5.440000,5.620000,5.100000,5.150000,5.150000,10400,SMLR,2014,3,...,0.572119,0.478898,0.520000,-0.290000,-0.037037,11340.0,5.510000,6.470000,1.101961,0.946691
4,2014-03-26,5.150000,5.520000,5.025000,5.150000,5.150000,32000,SMLR,2014,3,...,0.541184,0.554753,0.495000,0.000000,2.076923,16820.0,5.150000,5.650000,1.098507,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2523,2024-06-14,38.270000,40.650002,37.504002,38.320000,38.320000,533800,SMLR,2024,6,...,1.632918,5.088209,3.146000,0.049999,-0.210121,1103320.0,38.320000,39.720001,1.083884,1.001306
2524,2024-06-17,38.139999,40.189999,34.810001,38.650002,38.650002,708900,SMLR,2024,6,...,0.995404,4.781757,5.379997,0.510002,0.328025,941400.0,38.320000,40.570000,1.154553,1.013372
2525,2024-06-18,37.200001,38.799999,35.560001,37.250000,37.250000,447800,SMLR,2024,6,...,1.210401,4.190140,3.239998,0.049999,-0.368317,796600.0,38.650002,38.320000,1.091114,1.001344
2526,2024-06-20,38.320000,38.500000,34.220001,35.230000,35.230000,539300,SMLR,2024,6,...,1.402509,3.627629,4.279999,-3.090000,0.204332,581120.0,37.250000,38.320000,1.125073,0.919363
2527,2024-06-21,34.590000,35.980000,33.700001,35.355000,35.355000,221874,SMLR,2024,6,...,1.609249,2.612614,2.279999,0.764999,-0.588589,490334.8,35.230000,38.650002,1.067656,1.022116

# Feature Engineering qilish jarayoni

In [50]:
ustunlar = df2.columns.tolist()
print(ustunlar)

['Date', 'open', 'high', 'low', 'close', 'adjclose', 'volume', 'ticker', 'year', 'month', 'day', 'day_of_week', 'return_1d', 'return_5d', 'ma_5', 'ma_10', 'ma_20', 'volatility_5', 'volatility_10', 'price_range', 'body', 'volume_change_1d', 'volume_rolling_mean_5', 'close_lag_1', 'close_lag_3', 'high_low_ratio', 'close_open_ratio']

In [51]:
import pandas as pd
import numpy as np

# Sanani datetime formatga o'tkazish
df2['Date'] = pd.to_datetime(df2['Date'])

# Sanadan chiqqan xususiyatlar
df2['year'] = df2['Date'].dt.year
df2['month'] = df2['Date'].dt.month
df2['day'] = df2['Date'].dt.day
df2['day_of_week'] = df2['Date'].dt.dayofweek  # Dushanba=0, Yakshanba=6

# Returnlar
df2['return_1d'] = df2['close'].pct_change(1)  # 1 kunlik return
df2['return_5d'] = df2['close'].pct_change(5)  # 5 kunlik return

# Moving average'lar (harakatlanuvchi o'rtacha)
df2['ma_5'] = df2['close'].rolling(window=5).mean()
df2['ma_10'] = df2['close'].rolling(window=10).mean()
df2['ma_20'] = df2['close'].rolling(window=20).mean()

# Volatility (yaxshi ko‘rsatkich)
df2['volatility_5'] = df2['close'].rolling(window=5).std()
df2['volatility_10'] = df2['close'].rolling(window=10).std()

# Kunlik narxlar farqlari
df2['price_range'] = df2['high'] - df2['low']
df2['body'] = df2['close'] - df2['open']  # candle body

# Volume o'zgarishi
df2['volume_change_1d'] = df2['volume'].pct_change(1)
df2['volume_rolling_mean_5'] = df2['volume'].rolling(window=5).mean()

# Lag features (oldingi kunlardagi qiymatlar)
df2['close_lag_1'] = df2['close'].shift(1)
df2['close_lag_3'] = df2['close'].shift(3)

# Price ratios
df2['high_low_ratio'] = df2['high'] / df2['low']
df2['close_open_ratio'] = df2['close'] / df2['open']

# Ma'lumotni tozalash (NaN larni yo'qotamiz)
df2 = df2.dropna().reset_index(drop=True)

In [52]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   2509 non-null   datetime64[ns]
 1   open                   2509 non-null   float64
 2   high                   2509 non-null   float64
 3   low                    2509 non-null   float64
 4   close                  2509 non-null   float64
 5   adjclose               2509 non-null   float64
 6   volume                 2509 non-null   int64
 7   ticker                 2509 non-null   object
 8   year                   2509 non-null   int32
 9   month                  2509 non-null   int32
 10  day                    2509 non-null   int32
 11  day_of_week            2509 non-null   int32
 12  return_1d              2509 non-null   float64
 13  return_5d              2509 non-null   float64
 14  ma_5                   2509 non-null   float64
 15  ma_10                  2509 non-null   float64
 16  ma_20                  2509 non-null   float64
 17  volatility_5           2509 non-null   float64
 18  volatility_10          2509 non-null   float64
 19  price_range            2509 non-null   float64
 20  body                   2509 non-null   float64
 21  volume_change_1d       2509 non-null   float64
 22  volume_rolling_mean_5  2509 non-null   float64
 23  close_lag_1            2509 non-null   float64
 24  close_lag_3            2509 non-null   float64
 25  high_low_ratio         2509 non-null   float64
 26  close_open_ratio       2509 non-null   float64
dtypes: datetime64[ns](1), float64(20), int32(4), int64(1), object(1)
memory usage: 490.2+ KB

In [53]:
df2.head()

,Date,open,high,low,close,adjclose,volume,ticker,year,month,...,volatility_5,volatility_10,price_range,body,volume_change_1d,volume_rolling_mean_5,close_lag_1,close_lag_3,high_low_ratio,close_open_ratio
0,2014-04-16,4.590,4.92,4.470,4.920,4.920,1000,SMLR,2014,4,...,0.238956,0.195474,0.450,0.330,-0.333333,2480.0,4.350,4.70,1.100671,1.071895
1,2014-04-17,4.524,4.85,4.524,4.850,4.850,500,SMLR,2014,4,...,0.254106,0.187821,0.326,0.326,-0.500000,1240.0,4.920,4.42,1.072060,1.072060
2,2014-04-21,4.990,5.00,4.932,4.932,4.932,4400,SMLR,2014,4,...,0.285249,0.194985,0.068,-0.058,7.800000,1960.0,4.850,4.35,1.013787,0.988377
3,2014-04-22,4.400,4.99,4.400,4.990,4.990,1100,SMLR,2014,4,...,0.261042,0.211770,0.590,0.590,-0.750000,1700.0,4.932,4.92,1.134091,1.134091
4,2014-04-23,4.260,5.37,4.260,5.000,5.000,1100,SMLR,2014,4,...,0.060521,0.226257,1.110,0.740,0.000000,1620.0,4.990,4.85,1.260563,1.173709