In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv("liver_cirrhosis.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N_Days               25000 non-null  int64
 1   Status               25000 non-null  int64
 2   Age                  25000 non-null  int64
 3   Sex                  25000 non-null  object
 4   Ascites              25000 non-null  object
 5   Hepatomegaly         25000 non-null  object
 6   Spiders              25000 non-null  object
 7   Edema                25000 non-null  object
 8   Bilirubin            25000 non-null  float64
 9   Cholesterol          25000 non-null  float64
 10  Albumin              25000 non-null  float64
 11  Copper               25000 non-null  float64
 12  Alk_Phos             25000 non-null  float64
 13  SGOT                 25000 non-null  float64
 14  Tryglicerides        25000 non-null  float64
 15  Platelets            25000 non-null  float64
 16  Prothrombin          25000 non-null  float64
 17  Stage                25000 non-null  int64
 18  col_D-penicillamine  25000 non-null  int64
 19  col_Placebo          25000 non-null  int64
dtypes: float64(9), int64(6), object(5)
memory usage: 3.8+ MB

# ONE HOT ENCODING

In [7]:
import pandas as pd
encoded = pd.get_dummies(df["Drug"], prefix="col", dtype=int)
df=pd.concat([df.drop("Drug", axis = 1), encoded], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N_Days               25000 non-null  int64
 1   Status               25000 non-null  object
 2   Age                  25000 non-null  int64
 3   Sex                  25000 non-null  object
 4   Ascites              25000 non-null  object
 5   Hepatomegaly         25000 non-null  object
 6   Spiders              25000 non-null  object
 7   Edema                25000 non-null  object
 8   Bilirubin            25000 non-null  float64
 9   Cholesterol          25000 non-null  float64
 10  Albumin              25000 non-null  float64
 11  Copper               25000 non-null  float64
 12  Alk_Phos             25000 non-null  float64
 13  SGOT                 25000 non-null  float64
 14  Tryglicerides        25000 non-null  float64
 15  Platelets            25000 non-null  float64
 16  Prothrombin          25000 non-null  float64
 17  Stage                25000 non-null  int64
 18  col_D-penicillamine  25000 non-null  int64
 19  col_Placebo          25000 non-null  int64
dtypes: float64(9), int64(5), object(6)
memory usage: 3.8+ MB

# LABEL ENCODING

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df["Status"] = encoder.fit_transform(df["Status"])

In [13]:
df

,N_Days,Status,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,col_D-penicillamine,col_Placebo
0,2221,0,18499,F,N,Y,N,N,0.5,149.000000,4.04,227.0,598.0,52.70,57.000000,256.0,9.9,1,0,1
1,1230,0,19724,M,Y,N,Y,N,0.5,219.000000,3.93,22.0,663.0,45.00,75.000000,220.0,10.8,2,0,1
2,4184,0,11839,F,N,N,N,N,0.5,320.000000,3.54,51.0,1243.0,122.45,80.000000,225.0,10.0,2,0,1
3,2090,2,16467,F,N,N,N,N,0.7,255.000000,3.74,23.0,1024.0,77.50,58.000000,151.0,10.2,2,0,1
4,2105,2,21699,F,N,Y,N,N,1.9,486.000000,3.54,74.0,1052.0,108.50,109.000000,151.0,11.5,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,3584,2,23612,F,N,N,N,N,0.8,231.000000,3.87,173.0,9009.8,127.71,96.000000,295.0,11.0,2,1,0
24996,3584,2,23612,F,N,N,N,N,0.8,231.000000,3.87,173.0,9009.8,127.71,96.000000,295.0,11.0,2,1,0
24997,971,2,16736,F,N,Y,Y,Y,5.1,369.510563,3.23,18.0,790.0,179.80,124.702128,104.0,13.0,3,1,0
24998,3707,0,16990,F,N,Y,N,N,0.8,315.000000,4.24,13.0,1637.0,170.50,70.000000,426.0,10.9,2,1,0
24999,3707,0,16990,F,N,Y,N,N,0.8,315.000000,4.24,13.0,1637.0,170.50,70.000000,426.0,10.9,2,1,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N_Days               25000 non-null  int64
 1   Status               25000 non-null  int64
 2   Age                  25000 non-null  int64
 3   Sex                  25000 non-null  object
 4   Ascites              25000 non-null  object
 5   Hepatomegaly         25000 non-null  object
 6   Spiders              25000 non-null  object
 7   Edema                25000 non-null  object
 8   Bilirubin            25000 non-null  float64
 9   Cholesterol          25000 non-null  float64
 10  Albumin              25000 non-null  float64
 11  Copper               25000 non-null  float64
 12  Alk_Phos             25000 non-null  float64
 13  SGOT                 25000 non-null  float64
 14  Tryglicerides        25000 non-null  float64
 15  Platelets            25000 non-null  float64
 16  Prothrombin          25000 non-null  float64
 17  Stage                25000 non-null  int64
 18  col_D-penicillamine  25000 non-null  int64
 19  col_Placebo          25000 non-null  int64
dtypes: float64(9), int64(6), object(5)
memory usage: 3.8+ MB

In [11]:
df.isnull().sum()

N_Days                 0
Status                 0
Age                    0
Sex                    0
Ascites                0
Hepatomegaly           0
Spiders                0
Edema                  0
Bilirubin              0
Cholesterol            0
Albumin                0
Copper                 0
Alk_Phos               0
SGOT                   0
Tryglicerides          0
Platelets              0
Prothrombin            0
Stage                  0
col_D-penicillamine    0
col_Placebo            0
dtype: int64

In [16]:
freq = df["Ascites"].value_counts()
df["Ascites_freq"] = df["Ascites"].map(freq)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N_Days               25000 non-null  int64
 1   Status               25000 non-null  int64
 2   Age                  25000 non-null  int64
 3   Sex                  25000 non-null  object
 4   Ascites              25000 non-null  object
 5   Hepatomegaly         25000 non-null  object
 6   Spiders              25000 non-null  object
 7   Edema                25000 non-null  object
 8   Bilirubin            25000 non-null  float64
 9   Cholesterol          25000 non-null  float64
 10  Albumin              25000 non-null  float64
 11  Copper               25000 non-null  float64
 12  Alk_Phos             25000 non-null  float64
 13  SGOT                 25000 non-null  float64
 14  Tryglicerides        25000 non-null  float64
 15  Platelets            25000 non-null  float64
 16  Prothrombin          25000 non-null  float64
 17  Stage                25000 non-null  int64
 18  col_D-penicillamine  25000 non-null  int64
 19  col_Placebo          25000 non-null  int64
 20  Ascitesfreq          25000 non-null  int64
 21  Ascites_freq         25000 non-null  int64
dtypes: float64(9), int64(8), object(5)
memory usage: 4.2+ MB

# TARGET ENCODING

In [23]:
df["Edema"] = df["Edema"].map({"Yes": 1, "No": 0})
mean_target = df.groupby("Stage")["Edema"].mean()
df["Stage_col"] = df["Edema"].map(mean_target)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N_Days               25000 non-null  int64
 1   Status               25000 non-null  int64
 2   Age                  25000 non-null  int64
 3   Sex                  25000 non-null  object
 4   Ascites              25000 non-null  object
 5   Hepatomegaly         25000 non-null  object
 6   Spiders              25000 non-null  object
 7   Edema                0 non-null      float64
 8   Bilirubin            25000 non-null  float64
 9   Cholesterol          25000 non-null  float64
 10  Albumin              25000 non-null  float64
 11  Copper               25000 non-null  float64
 12  Alk_Phos             25000 non-null  float64
 13  SGOT                 25000 non-null  float64
 14  Tryglicerides        25000 non-null  float64
 15  Platelets            25000 non-null  float64
 16  Prothrombin          25000 non-null  float64
 17  Stage                25000 non-null  int64
 18  col_D-penicillamine  25000 non-null  int64
 19  col_Placebo          25000 non-null  int64
 20  Ascitesfreq          25000 non-null  int64
 21  Ascites_freq         25000 non-null  int64
 22  Stage_col            0 non-null      float64
dtypes: float64(11), int64(8), object(4)
memory usage: 4.4+ MB

# ORDINARY ENCODING

In [27]:
import pandas as pd
df = pd.DataFrame({
    "ustun_nomi": ["car", "jeep_car", "truck", "car"]
})

df["ustun_nomi"] = df["ustun_nomi"].map({
    "car":12000,
    "jeep_car":2700,
    "truck":48000
})
print(df)

   ustun_nomi
0       12000
1        2700
2       48000
3       12000